.navbar{
    width: 100%;
    height: 5vh;
    background-color: aquamarine;
    display: inline-flex;
    align-content: space-between;
    justify-content: space-around;
    padding: 10px;
}

.genericform{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}